.x{
    max-width: 100%;
}
.Maingallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    /* padding:  20px 5px 0 20px; */
        padding: 13px 0px 0 13px;
}
.Maingallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    padding-top: 5px;
    position: relative;
}
.Maingallery .Filesumb {
    position: absolute;
    bottom:0;
    font-size: 1rem;
    padding-top: 4px;
    /* background-image: linear-gradient(rgba(0,0,0,0.00), rgba(0,0,0,0.9)); */
    background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,1.9));

}
.Maingallery .Filesumb .title {
    color: white;
}
.Maingallery .Filesumb .title h4{
    font-size:medium; 
    font-weight: 200;
}
.Maingallery .Filesumb .title h6{
    font-size:small;
    font-weight: 100;
}
.Maingallery .Lovelist {
    position: absolute;
    top: 5px;
    right: 5px;
}
.Maingallery .pics:hover {
opacity: 90%;
}
@media (max-width:1400px) {
    .Maingallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;   
    }
    
}
@media (max-width:900px) {
    .Maingallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;   
    }
    
}
@media (max-width:700px) {
    .Maingallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;   
    }
}